/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 17, 2016, 3:03:36 PM
    Author     : Steven
*/
/*
#nav-formSignUp\:btnSignUp,
#btnLogIn,
#nav-formLogout\:btnLogout{
    width : 100px;
    margin-left : 1em;
    margin-top : 2em;
}

#formSignup\:signUpEmail,
#formSignup\:signUpPassword,
#formSignup\:signUpSelectCampus {
    width : 450px;
    padding-bottom: .25em;
}
*/
#main-wrapper {
    min-height: 550px;
}

/*
    Navigation Bar
*/
.navbar-default {
    background-color: #fff;
}

#navigationbar li.nav-link {
    margin-right: 11px;
}

/*#logoimg-wrapper {
    float: left;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 10px;
}*/

#heading-wrapper {
    font-size: 48px;
    padding-top: 10px;
    /* margin-left: 250px;*/
}


.navbar-header {
    width: 100%;
}

.navbar-default .nav-link a {
    background-color: #357D18;
    text-align: center;
    width: 111px;
    height: 59px;
    font-size: 1.1em;
    line-height: 1.1em;
    color: white !important;
    border-bottom-right-radius: 8px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: #539618;
    color: white;
}


.nav-link {
    border-bottom-right-radius: 8px;
}

/*
    Modal css
*/
.modal-body {
    font-size: 16px;
}

/*
    Modal header colors to show danger or warning to users.
*/
.modal-header-danger {
    color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #d9534f;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}

.modal-header-warning {
	color:#fff;
    padding:9px 15px;
    border-bottom:1px solid #eee;
    background-color: #f0ad4e;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
     border-top-left-radius: 5px;
     border-top-right-radius: 5px;
}


/*
    Footer
*/
#footer-wrapper {
    background-color : #fff;
    border: 1px;
    border-style: solid;
    border-color: #e7e7e7;
    margin: 2.5em;
    padding: 15px;
    border-radius: 4px;
}